<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSMP</title>
    <%- include('./extensions/head') %>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-brand">Open Source Minecraft Panel - <%= server.name %></div>
            </div>
        </nav>
    </header>
    <br><br><br><br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xl-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Server Details</h4>
                    </div>
                    <div class="card-body">
                        <h5>Name</h5>
                        <p><img src="<%= server.extra.icon %>" alt="" width="20"> <%= server.name %></p>
                        <hr>
                        <h5>Address</h5>
                        <p><kbd><%= server.extra.ip %>:<%= server.extra.port %></kbd><br><i><a href="#">Click Here</a> to learn how to setup a SRV record.</i></p>
                        <hr>
                        <h5>Description</h5>
                        <p><%= server.description || "None" %></p>
                        <hr>
                        <h5>Players</h5>
                        <p><%= server.extra.players.online %>/<%= server.extra.players.max %></p>
                        <hr>
                        <h5>Mods</h5>
                        <%- mods.map(m => `<kbd>${m.split(".").reverse().slice(1).join(".").replace("(1)", "")}</kbd>`).join('\n') || "No Mods/Plugins were found." %>
                    </div>
                </div>
            </div>
            <% if (server.extra.players.online >= 1) { %>
            <div class="col-12 col-xl-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Player List</h4>
                    </div>
                    <div class="card-body">
                        <%- server.extra.players.list.map(p => `<a href="https://namemc.com/search?q=${p}"><kbd>${p}</kbd></a>`).join(", ") %>
                    </div>
                </div>
            </div>
            <% } %>
            <div class="col-12 col-xl-3">
                <div class="card">
                    <base href="/servers/<%= server.identifier.split("-")[0] %>/">
                    <div class="card-header">
                        <h4>Server Options</h4>
                    </div>
                    <div class="card-body">
                        <p><a href="console/" target="_blank" class="btn btn-secondary">View Console <i class="fas fa-terminal"></i></a> <a href="properties/" class="btn btn-primary">Change Server Properties <i class="fas fa-wrench"></i></a></p>
                        <hr>
                        <h5>Power Options</h5>
                        <p><a href="start/" class="btn btn-primary">Start Server</a> <a href="#" class="btn btn-warning">Stop Server</a></p>
                        <%if(isEulaAgreedTo === "false") { %>
                            <hr>
                            <h5><strong>Agree to EULA</strong></h5>
                            <p><strong>In order to run a server, you have to agree to Mojang's EULA.</strong><br>Click <a href="agreeEula/">here</a> to agree to it after you read their EULA.</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
</body>
</html>